* {
    margin: 0;
    padding: 0;
    background-color: #2E333A;
  }
[data-tab-content]{
    display: none;

}

.active[data-tab-content]{
    display: block;
} 

body{
    padding: 0;
    margin: 0;
}

.tabs{
    display: flex;
    margin-top: 5vh;
    justify-content: space-around;
    list-style-type: none;
    margin: 2;
    padding: 5;
    border: 2px solid white;
    color: white;
    font: 32px Helvetica, sans-serif;

}
.tab{
    cursor: pointer;
    padding: 10px;

}
.tab.active{
    background-color: #ff315a;
}

.tab:hover{
    background-color: grey;
}
.tab-content{
    color: white;
    margin: center;
    text-align: center;
    font: 16px Helvetica, sans-serif;
    margin-top: 8vh;
}
